<div *ngIf="student">
    <div class="modal-header">
        <div class="modal-title">Chi tiết của {{ student.name }}</div>
    </div>

    <div class="modal-body">
        <table class="table table-striped">
            <tr class="bg-info">
                <th *ngFor="let header of headers"> {{ getHeaderFromKey(header) }} </th>
            </tr>
            <tr *ngFor="let obj of student.result">
                <ng-container *ngFor="let header of headers">
                    <td> {{ obj[header] }} </td>
                </ng-container>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" (click)="close()">
            Đóng
        </button>
    </div>
</div>
