<div class="container">
  <div class="modal-header">
      <div class="modal-title">Nhập file</div>
  </div>

  <div class="modal-body">
    <ngx-dropzone (change)="onSelect($event)">
      <ngx-dropzone-label>Nhấn hoặc thả file ở đây</ngx-dropzone-label>
      
      <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove(event)">
        <ngx-dropzone-label>
          {{ file.name }} ({{ file.type }})
        </ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>

  <div class="modal-footer">
      <button class="btn btn-success" [disabled]="!file" (click)="confirm()">
        Xác nhận
      </button>
      <button class="btn btn-danger" (click)="close()">
          Hủy
      </button>
  </div>
</div>