<h2 class="text-right">
    <button (click)="getData()" mat-raised-button>Hiển thị</button>
    <button (click)="import()" mat-raised-button>Nhập file</button>
</h2>

<table class="table table-striped" *ngIf="headers">
    <tr>
        <td [attr.colspan]="headers.length + 1" class="p-0 mb-0">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Tìm tên</mat-label>
                <input matInput #search [(ngModel)]="name" (input)="filter(search.value)">
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <th *ngFor = "let header of headers"> {{ header }} </th>
        <th></th>
    </tr>
    <tr *ngFor = "let obj of filteredData">
        <td>{{ obj.name }}</td>
        <td *ngFor = "let prediction of obj.result[0] | keyvalue">
            {{prediction.value}}
        </td>
        <td class="text-center"><button class="btn btn-info" (click)="getMoreData(obj)">Chi tiết</button></td>
    </tr>
</table>
